<div class="content" ng-controller="IndexController">
<header>

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
			
            <div class="row row-header">
				
                <div class="col-xs-12 col-sm-8">
				
                    <h1>Are you hungry? Find a bar or a restaurant  </h1>
                    
                      <div class="form-group" >

                    <input type="text" name="location" ng-model = "location" class="form-control" placeholder="Enter a Location" />
                    <button class="btn btn-lg btn-primary" ng-click="search()">Start Search</button>
                </div>
            </div>
        </div>
        </div>
    </header>
    
</div>